.dashboard-container {
  width: 100%;
  height: 100%;
}

.dashboard-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.dashboard-sidenav {
  background-color: rgb(126, 98, 98);
  padding: 20px;
  max-width: 300px;
  border-radius: 0px;
  text-align: center;
  border-right: 1px solid black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-toolbar {
  background-color: rgb(131, 105, 105);
  font-weight: bold;
  color: white;
  gap: 10px;
}

.dashboard-content {
  width: 100% ;
  height: 100%;
}