.courses-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    padding-top: 30px;
}

.courses-container-content{
    width: 100%;
    height: 100%;
    padding-top: 20px;
}